body {
    background-color: #e2e2e2!important;
}
.bg {
	background-color: #0D242C!important;
}
.banner {
	width : 100%;
	height : 93vh;
	background : linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/banner.jpg);
	color : white;
}
.my-card {
	padding : 20px;
	background : #ffffff;
}

.navbar-brand {
	font-family: "Sofia", sans-serif;
	font-weight: bold;
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 700px;
	height: 420px;
	border: 1px solid #9C9C9C;
	background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
}

/* side bar styling */

@media only screen and (max-width: 500px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: #8b8ba3;
		height: 100vh;
		position : fixed;
		padding-top : 20px;
		color : white;
	}
	.content {
		margin-left: 0% !important;
	}
}
.sidebar {
	width : 18%;
	background : #0D242C;
	height : 100%;
	position : fixed;
	padding-top : 45px;
	z-index: 999999999999999999999999999;
}
.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	color: white;
}

.sidebar a:hover {
	background: white;
	text-decoration: none;
	color: black;
}
.sidebar .divider {
	height : .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top : 10px;
}

.sidebar .cross-btn {
	position : absolute;
	top: 0px;
	right : 35px;
	font-size : 36px;
	text-align: right;
	cursor: pointer;
}

.content {
	margin-left : 20%;
}

.my_profile_photo {
    width : 35px;
    height : 35px;
    object-fit : cover;
    border-radius : 50%;
    border: 1px solid black;
}

.navbar-nav li a {
    transition: 0.3s;
    margin-right : 5px;
}

.navbar-nav li a:hover{
    background-color : #8e8e94;
    color : black;
}