<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style = "font-family: 'Open Sans';">
<section class = "text-center" style="margin-top : 50px; width : 50%; margin-left: 25%;">
    <h2>Forgot Password</h1>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/do-login}">
                    <input class = "form-control" type="email"  placeholder="Enter your email">
                </form>
            </div>
        </div>
</section>
</body>
</html>