<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style = "font-family: 'Open Sans';">
<section class = "banner d-flex justify-content-center align-items-center">
    <div class = "text-center" >
    	<h1 class = "font-weight-bold">Contact Manager</h1>
    	<p>Smart way of storing you contacts. Store, Add, Delete with your contacts</p>
    	<button th:href="@{/signin}" href = "#" class = "btn bg btn-lg text-white">Get Started</button>
    </div>
</section>
</body>
</html>